<section data-ng-controller="HomeController">
	<div class="jumbotron text-center jumbo-background jumbo-text" ng-style="{'background-image':'url(modules/core/img/assets/bernie-crowd-2.jpg)'}">
		<div class="panel fog">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1>Watch It Bern</h1>
				</div>
			</div>
			<br>
			<div class="row">
				<p class="lead text-center">stunning visualizations of the numbers behind the Sanders surge</p>
			</div>
		</div>
	</div>
	<div>
		<h1 class="lead text-center">Coming soon</h1>
	</div>
	<div class="panel">
		<div class="panel-body">
			<div class="row">
				<div class="col col-xs-12 col-md-2">
					<a href="#!/crowds">
					<div class="well text-center">
						<h4 class="lead">The Crowds</h4>
						<span class="glyphicon glyphicon-bullhorn"></span>
					</div>
					</a>
				</div>
				<div class="col col-xs-12 col-md-4">
					<div class="well">

					</div>
				</div>
				<div class="col col-xs-12 col-md-4">
					<div class="well">

					</div>
				</div>
			</div>
			<div class="row">

			</div>
			<div class="row">

			</div>
		</div>
	</div>
	<div class="well text-center">
		<h4>
			We are looking for graphic designers and developers who have experience with D3.  If you think you could do a better job designing this page than we did, please <a href="/#!/about">get in contact with us!</a>
		</h4>
	</div>
	<hr>
	<p class="text-center">
		<a href="/#!/about">About Us</a> &middot;
		<a target="_blank" href="https://berniesanders.com/">Bernie's Campaign</a> &middot;
		<a target="_blank" href="http://voteforbernie.org">Vote For Bernie</a> &middot;
		<a target="_blank" href="http://feelthebern.org">Bernie on the Issues</a>
	</p>
	<hr>
	<p class="text-center">The content on berniemetrics.org is not a reflection of Senator Sanders, his office, or his campaign.
	This website is made and maintained by volunteers with no relation to or association with Bernie Sanders.</p>
</section>
