<section data-ng-controller="HomeController" data-ng-init="init()">
    <!--google analytics script-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-66813510-1', 'auto');
        ga('send', 'pageview');

    </script>
    <div class="jumbotron text-center jumbo-background" ng-style="{'background-image':'url(modules/core/img/assets/bernie-crowd-3.jpg)'}">
        <div class="panel fog">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1>The API</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <p class="lead text-center">work your own magic with the numbers</p>
            </div>
        </div>
    </div>
    <div class="well">
        <p class="lead">Here at Berniemetrics we believe in open access to information.  Our numbers are your numbers: do what you can with them and share your results with <a href="#!/posts">the community</a>!</p>
        <p class="lead">In order for everyone to get along, we need to lay a few ground rules.  We ask that you take care not to hit our server more than once per 2 seconds in any continuously running process.
        We will actively block anyone who abuses these rules, but we'd like to spend our resources bringing the bern instead of patrolling the community.</p>
        <!--<p class="lead">If you've found our resources to be useful, consider chipping in to cover the costs of this operation, openly published <a href="#!/costs">here</a>. (we accept magic internet money)</p>-->
    </div>
    <div class="text-center">
        <p class="lead">Coming Soon</p>
    </div>
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col col-xs-12 col-md-2">
                    <button ng-style="{'width':'100%'}" class="btn btn-lg text-center disabled">
                        <h4 class="lead">The Polls</h4>
                        <span class="glyphicon glyphicon-check"></span>
                    </button>
                </div>
                <!--ng-click="go('/polls')"-->
                <div class="col col-xs-12 col-md-2">
                    <button ng-style="{'width':'100%'}" class="btn btn-lg text-center disabled">
                        <h4 class="lead">New Media</h4>
                        <span class="glyphicon glyphicon-phone"></span>
                    </button>
                </div>
                <!--ng-click="go('/new_media')"-->
                <div class="col col-xs-12 col-md-2">
                    <button ng-click="setViewState('crowds')" ng-style="{'width':'100%'}" class="btn btn-lg text-center">
                        <h4 class="lead">The Crowds</h4>
                        <span class="glyphicon glyphicon-user"></span>
                    </button>
                </div>
                <div class="col col-xs-12 col-md-2">
                    <button ng-style="{'width':'100%'}" class="btn btn-lg text-center disabled">
                        <h4 class="lead">Old Media</h4>
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
                <!--ng-click="go('/old_media')"-->
                <div class="col col-xs-12 col-md-2">
                    <button ng-style="{'width':'100%'}" class="btn btn-lg text-center disabled">
                        <h4 class="lead">The Money</h4>
                        <span class="glyphicon glyphicon-usd"></span>
                    </button>
                </div>
                <!--ng-click="go('/money')"-->
                <div class="col col-xs-12 col-md-2">
                    <button ng-style="{'width':'100%'}" class="btn btn-lg text-center disabled">
                        <h4 class="lead">The Campaign</h4>
                        <span class="glyphicon glyphicon-user"></span>
                    </button>
                </div>
                <!-- ng-click="go('/campaign')"-->
            </div>
        </div>
    </div>
    <div ng-show="endpoints.length" class="panel panel-default">
        <div class="panel-heading">
            {{viewState}}
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                <tr ng-repeat="endpoint in endpoints">
                    <div class="row">
                        <div class="col col-xs-12 col-md-2">
                            <td>
                                <a href="#!/endpoints/{{endpoint._id}}">
                                <h4>{{endpoint.method}}</h4>
                                <h4>{{endpoint.path}}</h4>
                                </a>
                            </td>
                        </div>
                        <div class="col col-xs-12 col-md-5">
                            <td>{{endpoint.description}}</td>
                        </div>
                        <div class="col col-xs-12 col-md-5">
                            <td><pre>{{endpoint.example}}</pre></td>
                        </div>
                    </div>
                </tr>
            </table>
        </div>
    </div>
    <div class="well text-center">
        <h4>
            We are looking for graphic designers and developers who have experience with D3.  If you think you could do a better job designing this page than we did, please <a href="/#!/about">get in contact with us!</a>
        </h4>
    </div>
    <hr>
    <p class="text-center">
        <a href="/#!/about">About Us</a> &middot;
        <a target="_blank" href="https://berniesanders.com/">Bernie's Campaign</a> &middot;
        <a target="_blank" href="http://voteforbernie.org">Vote For Bernie</a> &middot;
        <a target="_blank" href="http://feelthebern.org">Bernie on the Issues</a>
    </p>
    <hr>
    <p class="text-center">The content on berniemetrics.org is not a reflection of Senator Sanders, his office, or his campaign.
        This website is made and maintained by volunteers with no relation to or association with Bernie Sanders.</p>
</section>
