<section data-ng-controller="PollsController" data-ng-init="find()">
    <div class="page-header">
        <div class="row">
            <div class="col col-xs-10">
                <h1>The Polls</h1>
            </div>
            <div ng-show="authentication.user" class="col col-xs-2">
                <div class="text-right">
                        <a href="#!/polls/create"><button class="btn glyphicon glyphicon-plus"></button></a>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <th>Spread</th>
        <th>Locale</th>
        <th>Start</th>
        <th>End</th>
        <th>Poll</th>
        <th>Sample</th>
        <tr data-ng-repeat="poll in polls | orderBy:-startDate">
                <td>{{poll.Spread}}</td>
                <td>{{poll.locale}}</td>
                <td>{{poll.startDate | date:'shortDate'}}</td>
                <td>{{poll.endDate | date:'shortDate'}}</td>
                <td>{{poll.Poll}}</td>
                <td>{{poll.Sample}}</td>

        </tr>
    </table>
    <div class="alert alert-warning text-center" data-ng-hide="!polls.$resolved || polls.length">
        Nobody has added any polls yet, why don't you <a href="/#!/polls/create">create one</a>?
    </div>
</section>