<section data-ng-controller="PollsController" data-ng-init="find()">
    <div class="page-header">
        <div class="row">
            <div class="col col-xs-10">
                <h1>The Polls</h1>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <th>Spread</th>
        <th>Locale</th>
        <th>Start</th>
        <th>End</th>
        <th>Poll</th>
        <th>Sample</th>
        <tr data-ng-repeat="poll in polls | orderBy:-startDate">
                <td>{{poll.Spread}}</td>
                <td>{{poll.locale}}</td>
                <td>{{poll.startDate | date:'shortDate'}}</td>
                <td>{{poll.endDate | date:'shortDate'}}</td>
                <td>{{poll.Poll}}</td>
                <td>{{poll.Sample}}</td>
        </tr>
    </table>
    <div class="panel-footer">
        <small>
            <em class="text-muted">
                <p>Compiled by a robot<br>
                    Citation: <a target="_blank" href="http://www.realclearpolitics.com/epolls/2016/president/us/2016_democratic_presidential_nomination-3824.html">http://www.realclearpolitics.com/epolls/2016/president/us/2016_democratic_presidential_nomination-3824.html</a><br>
                    <a href="#!/sigin">[Is this information incomplete or incorrect?]</a>
                </p>
            </em>
        </small>
    </div>
</section>