<section data-ng-controller="EndpointsController" data-ng-init="findOne()">
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="row">
				<div class="col col-xs-12 col-md-2">
					<h1>Locale: {{poll.locale}}</h1>
					<h1>{{poll.Poll}}</h1>
				</div>
				<div class="col col-xs-12 col-md-10">
					<h3>{{poll.Spread}}</h3>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<h5>Poll Dates</h5>
			<pre>{{poll.startDate | date:'shortDate'}} - {{poll.endDate | date:'shortDate'}}</pre>
			<h5>Sample Size</h5>
			<pre>{{poll.Sample}}</pre>
		</div>

		<table class="table table-striped">
			<th>The Field</th>
			<tr ng-repeat="cand in poll.field">
				<td>{{cand.candidate}}</td>
				<td>{{cand.response}}</td>
			</tr>
		</table>
		<div class="panel-footer">
			<small>
				<em class="text-muted">
					<p>Compiled: <span data-ng-bind="poll.created | date:'short'"></span><br>
						By: <span data-ng-bind="poll.user"></span><br>
						Citation: <a href="{{poll.source}}">{{poll.source}}</a><br>
						<a href="#!/sigin">[Is this information incomplete or incorrect?]</a>
					</p>
				</em>
			</small>
		</div>
	</div>
</section>
