<section data-ng-controller="CrowdsController">
    <div class="page-header">
        <h1>Add Crowd Info</h1>
    </div>
    <div ng-show="viewState.warning" class="well">
        <div class="text-right">
            <button ng-click="toggleViewState('warning')" class="btn btn-sm glyphicon glyphicon-remove"></button>
        </div>
        <p class="lead">You are acting in volunteer capacity.  Please represent Bernie's campaign with integrity and respect.
         The data you add below should be accurate, complete, and thoroughly sourced. Most of all, <b>thank you</b> for contributing!</p>
        <p class="lead">Take your time with this.  Berniemetrics is aiming for quality over quantity.  We have a million volunteers, no need to crank these out fast.</p>
        <p class="lead">Your name will be linked with this post and your sources made publicly available.  Take ownership over this page and be proud of it!</p>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="city">City</label>
                    <div class="controls">
                        <input type="text" data-ng-model="city" id="city" class="form-control" placeholder="City" required>
                    </div>
                    <label class="control-label" for="state">State</label>
                    <div class="controls">
                        <input type="text" data-ng-model="state" id="state" class="form-control" placeholder="State (Use 2-letter Abbreviation)" required>
                    </div>
                    <label class="control-label" for="zip">Zip (important for mapping)</label>
                    <div class="controls">
                        <input type="text" data-ng-model="zip" id="zip" class="form-control" placeholder="Zip" required>
                    </div>
                    <label class="control-label" for="crowd_size">Crowd Size</label>
                    <div class="controls">
                        <input type="number" data-ng-model="crowd_size" id="crowd_size" class="form-control" placeholder="Crowd Size" required>
                    </div>
                    <label class="control-label" for="event_date">Event Date</label>
                    <div class="controls">
                        <input type="date" data-ng-model="event_date" id="event_date" class="form-control" placeholder="Event Date" required>
                    </div>
                    <label class="control-label" for="source">Citation</label>
                    <div class="controls">
                        <input type="url" data-ng-model="source" id="source" class="form-control" placeholder="Reputable Source for the Crowd Size" required>
                    </div>
                    <label class="control-label" for="youtube">Youtube Link to the Speech</label>
                    <div class="controls">
                        <input type="url" data-ng-model="youtube" id="youtube" class="form-control" placeholder="Link to the speech, not commentary about the speech (optional because some don't exist... but if you can find it would be SWEET to have it)">
                    </div>
                    <label class="control-label" for="image">Awesome Image</label>
                    <div class="controls">
                        <input type="url" data-ng-model="image" id="image" class="form-control" placeholder="The biggest (literally- the more pixels the better), most breathtaking shot you can find of the crowd at the event.  +1 if Bernie is in the shot">
                    </div>
                    <label class="control-label" for="link1">News Article</label>
                    <div class="controls">
                        <input type="url" data-ng-model="link1" id="link1" class="form-control" placeholder="Let's encourage good journalism by avoiding click-bait titles, biased writing (even those favoring Bernie), and ad-ridden content" required>
                    </div>
                    <label class="control-label" for="link1">News Article (optional)</label>
                    <div class="controls">
                        <input type="url" data-ng-model="link2" id="link2" class="form-control" placeholder="Quality News Link (optional)">
                    </div>
                    <label class="control-label" for="link1">News Article (optional)</label>
                    <div class="controls">
                        <input type="url" data-ng-model="link3" id="link3" class="form-control" placeholder="Quality News Link (optional)">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
