<section data-ng-controller="PostsController" data-ng-init="findOne()">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h1>{{post.title}}</h1>
		</div>
		<div class="panel-body">
			<pre>{{post.content}}</pre>
		</div>
		<div class="panel-footer">
			<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == post.user._id))">
				<a class="btn" href="/#!/posts/{{post._id}}/edit">
					<div class="glyphicon glyphicon-edit"></div>
				</a>
				<a class="btn" data-ng-click="remove();">
					<div class="glyphicon glyphicon-trash"></div>
				</a>
			</div>
			<small>
				<em class="text-muted">
					Posted on
					<span data-ng-bind="post.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="post.user.displayName"></span>
				</em>
			</small>
		</div>
	</div>
	<div class="lead text-center">
		<small><a href="/#!/posts">All Posts</a></small>
	</div>

</section>
