.crowd-background {
    background: no-repeat center center fixed;
    background-size: 100% auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 12%;
    height: 400px;
}

.crowd-text {
    text-align: center;
    color: #0040D0;
    opacity: 1;
}

.crowd-fog {
    background-color:rgba(256, 256, 256, 0.7);
}
